# SSH Keys
*.pem

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Environment files
.env
.env.*

# macOS junk
.DS_Store

# Logs
*.log